@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  display: grid;
  place-items: center;
  background: #131518;
  height: 100vh;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 60%;
  border-radius: 30px;
  background: var(
    --black-gradient,
    radial-gradient(98.96% 98.96% at 50% 0%, #232a34 0%, #181e27 100%)
  );
  position: relative;
}

.icon {
  position: absolute;
  top: 7%;
  left: 7%;
  background: url(../img/Oval.png) no-repeat;
  width: 48px;
  height: 48px;
}

.image {
  position: absolute;
  top: 10%;
  left: calc(50% - 15%);
  background: url(../img/phone.png) no-repeat;
  background-size: contain;
  width: 30%;
  height: 108px;
}

.main, #result {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;
}

h1 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

p {
  color: #969fad;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

#result {
  text-align: center;
}

#result span {
  border-radius: 22.5px;
background: #262E38;
color: #FC7614;
font-size: 15px;
font-weight: 400;
line-height: 24px;
padding: 8px 25px 5px 25px;
display: inline-flex;
justify-content: center;
align-items: center;
margin-bottom: 30px;
}

.rate ul {
  display: flex;
  justify-content: space-between;
}

.rate li {
  color: #7c8798;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  background-color: #262e38;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  display: grid;
  place-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.rate li:hover {
    background-color: #7C8798;
    color: #fff;
}

button {
  border-radius: 22.5px;
  background: #fc7614;
  width: 100%;
  height: 45px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  transition: 0.5s;;
}

button:hover {
    color: #fc7614;
    background: #fff;
}

@media (width < 1250px) {
  .card {
    width: 50%;
    height: 60%;
  }
}
@media (width < 800px) {
  .card {
    width: 70%;
    height: 60%;
  }
}
@media (width < 500px) {
  .icon {
    top: 6%;
    width: 40px;
    height: 40px;
    background-size: contain;
  }
  .card {
    width: 90%;
    height: 60%;
  }

  .main, #result {
    margin-top: 50px;
  }
}